body
{
  background: #000;
  margin: 0;
}

#container
{
  background: #fff;
  width: 960px;
  margin: 0 auto;
}

#menu
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
  overflow: hidden;
}
#menu li
{
  background: #000;
  color: #fff;
  float: left;
  display: inline-block;
  width: 150px;
  text-align: center;
}

#menu li a
{
  text-decoration: none;
  color: #fff;
}

#menu li a:hover
{
  color: #303d4d;
}

.clear
{
  clear: both;
}

h2
{
  color: #303d4d;
}

#contact_form
{
  
}

#user_bar
{
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 3px;
  color: #fff;
}

#user_bar a
{
  color: #fff;
  text-decoration: none;
}